:root {
  --primary-color: #2B2B2B;
  --secondary-color: #A259FF;
  --text-primary-color: #ffff;
  --text-secondary-color: #EDEDED;
  --card-bg-color: #3B3B3B;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}


.event-card {
  background-color: var(--card-bg-color) !important;
  color: white;
  border-radius: 20px !important;
  box-shadow: 2px 2px 16px 0px var(--text-secondary-color);
  transition: all 0.7s ease-in;
}

.event-card:hover {
  transform: translateY(-15px);
}



@media (max-width:1200px) {
  .hero-heading {
    font-size: 1rem;
    /* background-color: red; */
  }

  .hero-para {
    font-size: large;
  }
}